# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/bin/
/packages/
/.idea.MySimPilot.iml
# Editor-based HTTP Client requests
/httpRequests/
